[Unit]
Description=Web interface for raccontastorie
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/racconta-storie
ExecStart=%h/.deno/bin/deno run -A cardcontrol.ts 

[Install]
WantedBy=default.target
